@keyframes sparkle {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bannermove {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.fish__screen {
    height: 80vh;
    width: 120vh;
    background-color: #D2C9E0;
    color: white;
    position: relative;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
    font-size: 62.5%;
    animation: fadein 0.6s ease-in 0s 1 normal forwards;
}

.fish__screen > span {
    position: absolute;
    font-size: 2rem;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    animation: sparkle 0.7s linear 0s infinite alternate none;
}

.fish__ground {
    height: 12vh;
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.fish__ground > article {
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.fish__ground > article > img {
    width: 50%;
    height: 100%;
}

.sand__dot {
    position: absolute;
    background-color: #cfa23b;
}

.fish__sea {
    height: 64vh;
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
}

.fish__sea > .undersea__gif {
    position: absolute;
    bottom: 0;
    top: -3rem;
    left: 0;
    width: 100%;
    opacity: 0.9;
}

.fish__score {
    position: absolute;
    font-size: 1rem;
    top: 5%;
    left: 2%;
    color: darkblue;
    z-index: 10;
}

.fish__highscore {
    position: absolute;
    top: 9%;
    left: 2%;
    font-size: 1rem;
    color: darkblue;
    z-index: 10;
}

.dot {
    position: absolute;
    height: 2vh;
    width: 2vh;
}

.fish__screen > .fish__gameover {
    font-size: 3rem;
    animation: fadein 0.6s ease-in 0s 1 normal forwards;
}